$primary: rgb(172, 172, 172);
$secondary: #252435;
$tertiary: white;
$tertiary2: rgb(212, 241, 239);
$accent: rgb(25, 199, 161);

$text-darkest: black;
$text-darker: rgb(36, 36, 36);
$text-dark: rgb(88, 88, 88);

$text-lightest: white;
$text-lighter: rgb(218, 218, 218);
$text-light: rgb(201, 201, 201);

$navheight: 80px;